<h1>OMG STUFF</h1>

<ul style="list-style-type:none">
  <% @questions.each do |question| %>
    <li>
      <b>Question:</b> <%= link_to question.title, question_path(question) %>
    </li>
  <% end %>
</ul>
